

<footer class="footer">
  <img class="button-footer" src="./assets/images/ico-arrow.svg"> <a class= "button-footer" href="./header.html"></a></img>
  <nav>
    <ul class="equipement">
      <li a herf="">ZAPATILLAS</li>
      <li a herf=""> ROPA</li>
      <li a herf="">NIÑO/A</li>
      <li a herf="">DESTACADOS</li>
      <li a href=""> TIPS</li>
    </ul>
    <ul class="network">
      <li a herf="">TWITTER</li>
      <li a herf="">INSTAGRAM</li>
      <li a herf="">YOUTUBE</li>
    </ul>
  </nav>
  <ul class="copyright">
    <li class="footer-copyright"></li>
    <li class="footer-slogan"></li>
  </ul>
</footer>
