
<section class="footer">

  <a class="ico-arrow" href="./index.html#hero">
    <img src="./assets/images/ico-arrow.svg" alt="scroll up" />
  </a>

  <section class="container-footer">
    <div class="container1">
      <ul>
        <li class="equipement"><a href="https://adalab.es/"></a>ZAPATILLAS</li>
        <li class="equipement"> <a href="https://adalab.es/"></a>ROPA</li>
        <li class="equipement"><a href="https://adalab.es/"></a>NIÑO/A</li>
        <li class="equipement"> <a  href="https://adalab.es/"></a>DESTACADOS</li>
        <li class="equipement"><a href="https://adalab.es/"></a>TIPS</li>
      </ul>
    </div>

    <div class="container2">
      <ul>
        <li class="network"><a  href="https://adalab.es/"></a>TWITTER</li>
        <li class="network"><a  href="https://adalab.es/"></a>INSTAGRAM</li>
        <li class="network"><a  href="https://adalab.es/"></a>YOUTUBE</li>
      </ul>

    </div>

    <div class="container3">
      <p class="copyright">©2023</p>
      <p class="icon-footer">we<span class="heart"> ❤︎ </span>run</p>
    </div>

  </section>

</section>