

<footer class="footer">
  <div class="container">
    <!--<nav class="nav-flecha-footer">
      <a href="#header" class="ico-arrow"><img src="./assets/images/ico-arrow.svg" alt="flecha indicadora arriba"></a>
      </nav>-->
      <nav class="nav-flecha-footer">
        <a href="#" class="selected"><img src="./assets/images/ico-arrow.svg" alt="flecha indicadora arriba"
            class="arrow"></a>
      </nav>
  <nav>
    <ul class="equipement">
      <li a herf="https://adalab.es/">ZAPATILLAS</li>
      <li a herf="https://adalab.es/"> ROPA</li>
      <li a herf="https://adalab.es/">NIÑO/A</li>
      <li a herf="https://adalab.es/">DESTACADOS</li>
      <li a href="https://adalab.es/"> TIPS</li>
    </ul>
    <ul class="network">
      <li a herf="https://adalab.es">TWITTER</li>
      <li a herf="https://adalab.es">INSTAGRAM</li>
      <li a herf="https://adalab.es">YOUTUBE</li>
    </ul>
  </nav>
  <section>
    <p class="footer-copyright">&copy; 2023</p>
    <p class="footer-slogan">we<i class="fa-solid fa-heart"></i> run</p>
  </section>
  </div>
</footer>

<!---mirar por qué no funcionan los links----->