<!---<header>
    <section class="menu">
    <div class="menu-background"></div>
    <img class="menu-icon" src="./assets/images/ico-menu.svg" a href="" alt="menu hamburguesa"/>
  </section>
  <h1 class="title">Hasta un 50% de descuento</h1>
  <section class="title-promotion">
    <p class="promotion">Ya están aquí las ofertas de fin de temporada</p>
  </section>
  </header>--->
  <!---<header class="header">
    <nav class="header-menu">
      <a href="https://adalab.es/" class="menu-link">
        <img src="./assets/images/ico-menu.svg" alt="menu icon" title="menu icon" class="header-menu-image" />
      </a>
    </nav>
  </header>-->

  <section class="header">
    <!--<figure class="hero-figure">
              <img class="hero-img" src="./assets/images/cover.jpeg" alt="hero-image" title=""/>
          </figure>-->
    <article class="header-article">
      <h1 class="header-title">Hasta un 50% de descuento</h1>
      <p class="header-p">Ya están aquí las ofertas de fin de temporada</p>
      <div class="herader-button"><img class="button-arrow" src="./assets/images/ico-scroll-down.svg" alt="scroll down arrow"
          title="scroll down arrow"> </div>
    </article>
  
  </section>