<!---<section class="hero">
    <figure class="hero-figure">
        <img class="hero-img" src="./assets/images/cover.jpeg" alt="deportista atándose la zapatilla" />
    </figure>-->
   <!--- <section class="hero">
        <figure class="hero-figure">
            <img class="hero-img" src="./assets/images/cover.jpeg" alt="hero-image" title=""/>
        </figure>
        <article class="hero-article">
            <h1 class="hero-title">Hasta un 50% de descuento</h1>
            <p class="hero-p">Ya están aquí las ofertas de fin de temporada</p>
            <div class="hero-button"><img class="button-arrow" src="./assets/images/ico-scroll-down.svg"
                    alt="scroll down arrow" title="scroll down arrow"> </div>
        </article>
    
    </section>
</section>--->

<header class="hero-title">
    <nav class="hero-menu">
        <a href="https://adalab.es/" class="menu-link">
            <img src="./assets/images/ico-menu.svg" alt="menu icon" title="menu icon" class="header-menu-image" />
        </a>
    </nav>
</header>

 
