
<section id="newyear" class="section1">
  <div class="container">
    <articles class="article1">
    <h2 class="section1-title1"><small>Los sentimientos nos inspiran</small></h2>
    <h3 class="section1-title2 ">Conecta contigo</h3>
    <p class="section1-paragraph">Esto es una celebración de todo lo que nos mueve. Del poder de elegir y de la libertad de
      ser. Rendimos homenaje al hermoso caos del movimiento y a la plena consciencia que tan bien nos hacen sentir.
    </p>
    <div class="button-section1">
    <button class="button-section1-buy">Comprar</button>
    </div>
  </articles>
  </div>
</section>
