<section class="section2">
  <h2 class="section2-title1">Año nuevo, movimientos nuevos</h2>

  <div class="section2-box">
    <div class="section2-box-box">
      <h3 class="section2-box-box-title">Entrenamientos</h3>
      <p class="section2-box-box-p">Sesiones de running y entrenamientos.</p>
    </div>
    <div class="section2-box-box">
      <h3 class="section2-box-box-title">Cualquier nivel</h3>
      <p class="section2-box-box-p">Entrenamientos para cada nivel.</p>
    </div>
    <div class="section2-box-box">
      <h3 class="section2-box-box-title">Exclusividad</h3>
      <p class="section2-box-box-p">Productos para miembros premium.</p>
    </div>
  </div>
  <div class="button-section2">
    <button class="button-section2-start" type="button">Empezar ahora</button>
  </div>
</section>
