
<section class="section1">
  <div class="container">
  <h2 class="section1-title1"><small>Los sentimientos nos inspiran</small></h2>
  <h3 class="section1-title2">Conecta contigo</h3>
  <p class="section1-paragraph">
    Esto es una celebración de todo lo que nos mueve. Del poder de elegir y de
    la libertad de ser. Rendimos homenaje al hermoso caos del movimiento y a la plena consciencia que tan bien nos hacen sentir.
  </p>
  <nav>
  <div class="button-section1"></div>
 <a class="scroll-section1" href="https://adalab.es.">Comprar</a>
  </nav>
  </div>
</section>

