
<section class="section1">
  <div class="container">
  <h2 class="section1-title1"><small>Los sentimientos nos inspiran</small></h2>
  <h3 class="section1-title2">Conecta contigo</h3>
  <p class="section1-paragraph">
    Esto es una celebración de todo lo que nos mueve. Del poder de elegir y de
    la libertad de ser. Rendimos homenaje al hermoso caos del movimiento y a la plena consciencia que tan bien nos hacen sentir.
  </p>
  <nav>
  <div class="button-section1"></div>
 <a class="scroll-section1" href="https://adalab.es.">Comprar</a>
  </nav>
  </div>
</section>


<!---<header class="hero">
  <a href="https://adalab.es/" class="img_nav"></a>
  <h1 class="title_header">Hasta un 50% de descuento</h1>
  <p class="title_header_2">Ya están aquí las ofertas de fin de temporada</p>
  <a href="" class="button_header">

  </a>
</header>--->

<!----.hero {
    background-image: url(../images/cover.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;

    .img_nav {
        background-color: $orange;
        position: fixed;
        background-image: url(../images/ico-menu.svg);
        background-size: auto;
        background-repeat: no-repeat;
        background-position: center;
        width: 37px;
        height: 34px;
    }

    .title_header {
        font-family: $h1title;
        color: $white;
        text-transform: uppercase;
        text-shadow: 1px 1px 1px rgb(41, 40, 40);
        font-size: 3rem;
        justify-content: center;
        text-align: center;
        padding: 95% 20px 0 20px;
        line-height: 5rem;
    }

    .title_header_2 {
        text-align: center;
        color: $white;
        font-family: $h2title;
        font-weight: lighter;
        font-size: 1.55rem;
        padding: 0 20px 0 20px;
        line-height: 2rem;
    }

    .button_header {
        background-color: $white;
        background-image: url(../images/ico-scroll-down.svg);
        background-repeat: no-repeat;
        background-position: center;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        align-self: center;
        justify-content: center;
        margin-top: 25px;
    }
}

-->