.footer {
  background-color: $dark_color;
  margin: 0;
  height: auto;
  width: auto;
}

.ico-arrow {
  display: flex;
  justify-content: center;
  align-content: center;
  position: relative;
  bottom: 2.2rem;

  .ico-arrow-img {
    width: 3.7rem;
    height: 3.7rem;
    background-color: $light_color;
    background-size: 4.5rem 4.5rem;
    border-radius: 50%;
  }
}

.container-footer {
  height: auto;
  width: auto;
  margin: 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  animation-duration: 7s;
  animation-name: slideside;
}
@keyframes slideside {
  from {
    margin-left: 100%;
    width: 300%;
  }
}
.equipement {
  list-style: none;
  text-decoration: none;
  color: $light_color;
  font-family: $regular_font;
  font-size: 1.6rem;
  line-height: 1.88;
  text-transform: uppercase;
}

.container2 {
  margin: 10px;
  flex-grow: 0.3;
}

.network {
  list-style: none;
  text-decoration: none;
  color: $light_color;
  font-family: $regular_font;
  font-size: 16px;
  line-height: 1.88;
  text-transform: uppercase;
}

.container3 {
  color: $light_color;
  font-family: $regular_font;
  font-size: 1.4rem;
  margin: 1rem 1rem 2.5rem 1rem;

  .copyright {
    margin-bottom: 0.3rem;
  }

  .heart {
    color: $bright_color;
  }
}

@media all and (min-width: 768px) {
  .container-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-items: flex-end;
    text-align: start;
    margin-left: 13rem;
    justify-content: space-around;
  }
  .container3 {
    order: -1;
  }
}
@media all and (min-width: 1200px) {
  .container-footer {
    margin-left: 28rem;
  }
}
