.footer {
  display: flex;
  flex-direction: column;
  height: 495px;
  background-color: #4a4a4a;
}

.nav-flecha-footer {
background-color: white;
width: 45px;
height: 45px;
border: radius 50%;
position: relative;
top: -20px;
left: 138px;
justify-content: center;
}


.equipement {
  width: 101px;
  height: 150px;
  font-family: "Roboto";
  font-size: 16px;
  color: white;
  text-align: center;
  line-height: 30px;
  position: relative;
  top: 43px;
  left: 108px;
}

.network {
  width: 101px;
  height: 90px;
  font-family: "Roboto";
  font-size: 16px;
  color: white;
  text-align: center;
  line-height: 30px;
  position: relative;
  top: 82px;
  left: 113px;
}

.footer-copyright {
  font-family: "Roboto";
  font-size: 14px;
  color: white;
  line-height: 30px;
  text-align: center;
  margin-top: 100px;
}

.footer-slogan {
  width: 290px;
  height: 32px;
  display: flex;
  justify-content: center;
  color: white;
  font-family: "Roboto";
  font-size: 14px;
  text-align: center;
  transform: translateX(23px);
}

.fa-solid {
  color: #f26002;
}
