.footer {
  background-color: #4a4a4a;
  margin: 0;
  height: auto;
  width: auto;
  text-align: center;
  justify-content: center;
 
}
.ico-arrow {
  background-color: white;
  display: block;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  bottom: 22px;
  left: 43%;
}

.container-footer {
  height: auto;
  width: auto;
  margin: 0;
  display: flex;
  flex-direction: column;
  
}
.container1 {
  justify-content: center;
  align-items: center;
  margin: 1rem;
}
.equipement {
  list-style: none;
  color: white;
  font-family: "Roboto-regular", sans-serif;
  font-size: 16px;
  line-height: 1.88;
}

.container2 {
  justify-content: center;
  align-items: center;
  margin: 1rem;
  flex-grow: 0.3;
}

.network {
  list-style: none;
  color: white;
  font-family: "Roboto-regular", sans-serif;
  font-size: 16px;
  line-height: 1.88;
}

.container3 {
  color: white;
  font-family: "Roboto-regular", sans-serif;
  font-size: 14px;
  justify-content: center;
  align-items: center;
  margin: 1rem 1rem 2.5rem 1rem;

  .copyright {
    margin-bottom: 0.3rem;
  }

  .heart {
    color: #f26002;
  }
}

@media all and (min-width: 768px) {
  .container-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: start;
    margin-left: 130px;
    justify-content: space-around;
  }
  .container3 {
    margin-top: 20px;
    justify-items: flex-end;
    order: -1;
  }
  .ico-arrow {
    position: relative;
    left: 45%;
  }
}
@media all and (min-width: 1200px) {
  .container-footer {
    margin-left: 280px;
    justify-content: space-around;
  }
   .ico-arrow {
    position: relative;
    left: 48%;
   }
}
