.header {
  position: sticky;
  top: 0;
  z-index: 990;
}
.header-menu {
  display: flex;
  background-color: $bright_color;
  width: 3.7rem;
  height: 3.4rem;
  align-items: center;
  justify-content: center;
}
