.section1 {
  padding: 34.2px 12px 51px 21px;
}
.section1-title1 {
  font-size: 16px;
  font-family: $regular_font;
  color: $bright_color;
  line-height: 2.14;
  position: relative;
  top: -20px;
}

.section1-title2 {
  font-family: $special_font;
  font-size: 24px;
  padding-bottom: 11px;
  font-weight: bold;
}

.section1-paragraph {
  font-family: $regular_font;
  font-size: 18px;
  padding-bottom: 20px;
  color: $dark_color;
  line-height: 1.67;
}

.button-section1 {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: start;

  .button-section1-buy {
    background-color: transparent;
    width: 160px;
    height: 45px;
    border-radius: 22.4px;
    border: solid $bright_color 2px;
    padding: 10px 11.4px 10px 11.4px;
    font-family: $regular_font;
    font-size: 20px;
    color: $bright_color;
    font-weight: bold;
  }
}
.button-section1-buy:hover {
  transform: scale(1.2);
  transition: all 500ms;
}

@media (min-width: 768px) {
  .section1 {
    margin: 10px 39px 41px 25px;
    padding-bottom: 20px;
  }

  .section1-title1 {
    font-size: 16px;
    line-height: 1.88;
  }
  .section1-title2 {
    font-size: 32px;
    line-height: 1.42;
  }

  .section1-paragraph {
    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: 1200px) {
  .section1 {
    margin-left: 200px;
    margin-right: 80px;
  }
}
