.section2 {
  background-color: $light_color2;
  width: 100%;
}

.section2-title1 {
  margin: 2.5rem 2.5rem 1rem 2.5rem;
  padding: 20px;
  font-family: $special_font;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.5;
  text-align: center;
}

.section2-box {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  margin: 0 5rem 0 5rem;
}

.section2-box-box {
  margin: 1rem;
}

.section2-box-box-title {
  font-family: $special_font;
  font-weight: bold;
  font-size: 1.8rem;
  line-height: 1.67;
  text-align: center;
}

.section2-box-box-p {
  font-family: $regular_font;
  font-size: 1.8rem;
  font-weight: normal;
  line-height: 1.67;
  text-align: center;
}

.button-section2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;

  .button-section2-start {
    color: $light_color;
    background-color: $bright_color;
    font-family: $regular_font;
    border: none;
    border-radius: 3.5rem;
    font-size: 2rem;
    font-weight: bold;
    line-height: 2.25;
    text-align: center;
    margin: 1rem 2.5rem 1rem 2.5rem;
    width: 18rem;
    height: 4.3rem;
    margin-bottom: 5rem;
  }
}
.button-section2-start:hover {
  transform: scale(1.2);
  transition: all 500ms;
}

@media all and (min-width: 768px) {
  .section2-box {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: none;
    transform: translateX(-5px);
  }
  .section2-title1 {
    font-size: 2.8rem;
    line-height: 1.61;
  }
  .button-section2-start {
    margin-right: 6rem;
  }
  .section2-box-box-title {
    font-size: 2.4rem;
    line-height: 1.5;
  }
  .section2-box-box-p {
    font-size: 2rem;
    line-height: 1.5;
  }
}

@media all and (min-width: 1200px) {
  .section2-box {
    transform: translateX(0.3rem);
    margin-left: 4.5rem;
    margin-right: 1.5rem;
    line-height: 1.5;
  }
  .section2-title1 {
    font-size: 3.2rem;
    line-height: 1.41;
  }
  .section2-box-box-title {
   line-height: 1.5;
   padding-bottom: 2rem;
  }
  .section2-box-box-p {
    padding-bottom: 2rem;
  }
 
}
