.section1 {
  padding: 34.2px 12px 51px 21px;
}

.section1-title1 {
  font-size: 16px;
  font-family: "Roboto"; 
  
  color: #f26002;
}

.section1-title2 {
  font-family: "Roboto Slab", serif;
  font-size: 24px;
  padding-bottom: 11px;
  font-weight: bold;
}

.section1-paragraph {
  font-family: "Roboto";
  font-size: 18px;
  padding-bottom: 20px;
  color: #4a4a4a;
  line-height: 1.67;
}

.button-section1 {
  background-color: transparent;
  width: 160px;
  height: 45px;
  border-radius: 22.4px;
  border: solid #f26002 2px;
  padding: 10px 11.4px 10px 11.4px;
  font-family: "Roboto";
  font-size: 20px;
  color: #f26002;
  font-weight: bold;
}

@media (min-width: 768px) {
  .section1 {
    margin: 10px 39px 41px 25px;
    padding-bottom: 20px;
  }

    .section1-title1 {
    
    font-size: 16px;
    line-height: 1.88;
      }
  .section1-title2 {
    font-size: 32px;
    line-height: 1.42;
    font-weight: bold;

  }
  
  .section1-paragraph {
    font-size: 20px;
    line-height: 30px;
  }
}

@media (min-width: 1200px) {
  .section1 {
  margin-left: 200px;
  margin-right: 80px;
  }
      
}